/* src/components/RevenueChart.css */
.revenue-chart-container {
  width: 100%;
  height: 150px;
  position: relative;
  margin-top: 20px;
}

.revenue-chart-svg {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.chart-line-animate {
  vector-effect: non-scaling-stroke;
}